header {
  background-color: rgb(91, 27, 27);
  display: flex;
  justify-content: center;
}
/*  Selectores  */

.titulo {
  color: #b94444;    /* este le da color a la letra */
  font-weight: 600;      /*  grosor a la letra */
  font-size: 3rem;      /*tamaño a la letra*/
  font-family: 'fantasy' , 'sans-serif';     /*cambiar tipografia.letra.  ejem:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif*/
  text-transform: uppercase;    /*transforma la letra minuscula a mayuscula*/
}

main {
  background-color: chocolate;
  padding: 1rem;
}
section {
    
  margin: 1rem;
  padding: 0 1rem;
  display: flex;
}
/*-----------------caja suprema------------------*/
.box {
  background-color: rgb(202, 87, 87);
  margin: 1rem;
  padding: 0 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titulo-imagen {
  background-color: rgb(116, 100, 57);
  color: rgb(0, 0, 0);
  text-align: center;
}
.imagen-ahorcado {
  width: 100%;
  height: 80%;
}
.palabra {
  background-color: rgb(202, 118, 73);
  text-align: center;

}

/*--------------------------- Pala secreta ------------------*/
.secreta {
  display: flex;
  justify-content: space-around;
}
.secreta p {
    margin: 5px;
    font-size: 3rem;
}
/*-------------------- Letras--------------------------------*/  
.letras {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
button {
    font-size: 2rem;
    margin: 15px;
    padding: 5px;
    border-radius: 9px;
    box-shadow: 8px 8px 16px -2px rgb(0 0 0);
}
/*----------------------Boton inicio de Juego---------------------*/
.contenedor-cargar {
    display: flex;
    justify-content: center;
}
.cargar {
    font-size: 2rem;
    color: #000000;
    font-family: 'Abril Fatface', cursive;  
    text-decoration: none;
}

.cargar:hover{
    text-transform: uppercase;
    cursor: pointer;
}

/*---------------------Footer-------------------------------------*/
footer {
    background-color: #9b3737;
    padding: 5px;
    display: flex;
    justify-content: center;
}
