header {
  background-color: rgb(91, 27, 27);
  display: flex;
  justify-content: center;
}
/*  Selectores  */

.titulo {
  color: #b94444;    /* este le da color a la letra */
  font-weight: 600;      /*  grosor a la letra */
  font-size: 3rem;      /*tamaño a la letra*/
  font-family: 'fantasy' , 'sans-serif';     /*cambiar tipografia.letra.  ejem:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif*/
  text-transform: uppercase;    /*transforma la letra minuscula a mayuscula*/
}

main {
  background-color: chocolate;
  padding: 1rem;
}
section {
    
  margin: 1rem;
  padding: 0 1rem;
  display: flex;
}
/*-----------------caja suprema------------------*/
.box {
  background-color: rgb(202, 87, 87);
  margin: 1rem;
  padding: 0 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titulo-imagen {
  background-color: rgb(116, 100, 57);
  color: rgb(0, 0, 0);
  text-align: center;
}
.imagen-ahorcado {
  position: relative;  
  width: 100%;
  height: 80%; 
  display: flex;
  justify-content: center;
}
.poste {
    height: 80%;
}
.lazo {
    position:absolute;
    height: 24%;
    top: 73px;
    left: 23rem;
}
.cabeza,
.cuerpo,
.brazo-derecho,
.brazo-izquierdo,
.pie-derecho,
.pie-izquierdo {
    position: absolute;
}
.cabeza{
    height: 15%;
    top: 6.5rem;
    left: 22rem;
}
.cuerpo {
    top: 10.6rem;
    right: 8.2rem;
}
.brazo-derecho {
    top: 10.3rem;
    right: 11rem;
}
.brazo-izquierdo {
    top: 10.3rem;
    right: 4.2rem;
}
.pie-derecho {
    top: 16.9rem;
    right: 10rem;
}
.pie-izquierdo {
    top: 16.9rem;
    right: 6rem;
}
.palabra {
  background-color: rgb(202, 118, 73);
  text-align: center;

}

/*--------------------------- Pala secreta ------------------*/
.secreta {
  display: flex;
  justify-content: space-around;
}
.secreta p {
    margin: 5px;
    font-size: 3rem;
}
/*-------------------- Letras--------------------------------*/  
.letras {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
button {
    font-size: 2rem;
    margin: 15px;
    padding: 5px;
    border-radius: 9px;
    box-shadow: 8px 8px 16px -2px rgb(0 0 0);
}
/*----------------------Boton inicio de Juego---------------------*/
.contenedor-cargar {
    display: flex;
    justify-content: center;
}
.cargar {
    font-size: 2rem;
    color: #000000;
    font-family: 'Abril Fatface', cursive;  
    text-decoration: none;
    animation: pulse;
    animation-duration: 1s;
    
}

.cargar:hover{
    /*text-transform: uppercase;*/
    animation-iteration-count: infinite;
    cursor: -webkit-grab; 
    cursor: grab;
}

/*---------------------Footer-------------------------------------*/
footer {
    background-color: #9b3737;
    padding: 5px;
    display: flex;
    justify-content: center;
}
